.navbar {
    background-color: #1b2838;
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c7d5e0;
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Se asegura de estar por encima de otros elementos */
    position: fixed;
  }
  
  .navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .navbar .nav-links a {
    text-decoration: none;
    color: #c7d5e0;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-links a:hover {
    color: #66c0f4;
  }
  

  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0px 15px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  